Sinan/docker_swarm/config/*.json
Sinan/docker_swarm/logs/
Sinan/docker_swarm/*.log
Sinan/docker_swarm/*.txt
Sinan/docker_swarm/**.log
Sinan/docker_swarm/**.txt
**__pycache__**

git-token
git-*
kube-config
.env
join-command
!Sinan/docker_swarm/config/swarm_ath.json
!Sinan/docker_swarm/config/swarm_ath-8.json
!Sinan/docker_swarm/config/social_mab.json
!Sinan/docker_swarm/config/hotel_swarm_ath.json
!Sinan/docker_swarm/config/hotel_mab.json
!Sinan/docker_swarm/config/hotel_gpu.json
!Sinan/docker_swarm/config/gpu.json
