main
containermod

results/*
data/
=======
**work/*
**__pycache__**
**work**
**.nextflow**
**LoadDuration.txt**
out-metrics/*

experiments/.*
experiments/*.log
experiments/*.txt
experiments/*.html
experiments/*.config
experiments/*.nf
experiments/work/
experiments/junk/
experiments/results/*
experiments/.nextflow.*
experiments/**nextflow**

experiments/deeplearning/*
!experiments/deeplearning/*.py
!experiments/deeplearning/*.ipynb

*.csv
*.env
conf-*
git-*
