[submodule "2024-biosys-ec-elasticcontainer"]
	path = 2024-biosys-ec-elasticcontainer
	url = git@github.com:martinluttap/2024-biosys-ec-elasticcontainer.git
[submodule "elasticcontainer"]
	path = elasticcontainer
	url = git@github.com:martinluttap/2024-biosys-ec-elasticcontainer.git
[submodule "sota/sinan"]
	path = sota/sinan
	url = git@github.com:martinluttap/2024-biosys-ec-sinan.git
[submodule "sota/autothrottle"]
	path = sota/autothrottle
	url = git@github.com:martinluttap/2024-biosys-ec-autothrottle.git
[submodule "sota/nodens"]
	path = sota/nodens
	url = git@github.com:martinluttap/2024-biosys-ec-nodens.git
[submodule "sota/alibabassf"]
	path = sota/alibabassf
	url = git@github.com:martinluttap/2024-biosys-ec-alibabassf.git
[submodule "sota/2024-biosys-ec-showar"]
	path = sota/2024-biosys-ec-showar
	url = git@github.com:martinluttap/2024-biosys-ec-showar.git
[submodule "sota/showar"]
	path = sota/showar
	url = git@github.com:martinluttap/2024-biosys-ec-showar.git
