[submodule "2024-biosys-ec-elasticcontainer"]
	path = 2024-biosys-ec-elasticcontainer
	url = git@github.com:martinluttap/2024-biosys-ec-elasticcontainer.git
[submodule "elasticcontainer"]
	path = elasticcontainer
	url = git@github.com:martinluttap/2024-biosys-ec-elasticcontainer.git
